
#logo-container{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 110px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}


.menu-container{
    position: relative;
    display: block;
    width: 12vw;
    height: 100vh;
    padding: 15px 15px;
    background-color: var(--color-primery-blue);
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
    color: grey;
}


.session-title {
    border-bottom: 0.5px solid  var(--gray-color);
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px 0px;
    color: var(--gray-color);
}


.session-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style-type: none;
}

.menu-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 13px 10px;
    cursor: pointer;
}


.menu-item:hover{
    color: white;
}


.menu-item-selected {
    color: white;
    background: linear-gradient(90deg, rgba(217,217,217,0.20) 0%, rgba(217,217,217,0.05) 35%, rgba(217,217,217,0.03) 46%, rgba(217,217,217,0.05) 57%, rgba(217,217,217,0.20) 100%);
}

#logout-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--blue-ascent);
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
}
