.input-label {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    padding: 0;
}



.input-label .error-hint {
    font-size: calc(var(--scale-fonts) * 15px);
    color: red;
}


input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.8px solid #ccc;
    -webkit-transition: 0.5s;
    background-color: white;
    transition: 0.5s;
    color: black;
    outline: none;
    font-size: calc(var(--scale-fonts) * 10);
    border-radius: var(--border-radius);

}

input[type=text]:focus {
    box-shadow: 0px 0px 3px 4px #65b7ff58;
}