:root {
    --h1-font: 28px;
    --h2-font: 23px;
    --h3-font: 19px;
    --h4-font: 17px;

    --paragrapth: 18px;

    --title-large: 42px;
    --title-medium: 18px;

    --scale-fonts: 1;
}



@media (max-width: 700px) {
    :root {
        --scale-fonts: 0.7;
    }
}

@media (min-width: 700px) and (max-width: 1300px) {
    :root {
        --scale-fonts: 0.8;
    }
}

@media (min-width: 1300px) {
    :root {
        --scale-fonts: 0.8;
    }
}



h1 {
    margin: 0;
    padding: 0;
    font-size: calc(var(--h1-font) * var(--scale-fonts));
}

h2 {
    margin: 0;
    padding: 0;
    font-size: calc(var(--h2-font) * var(--scale-fonts));
}

h3 {
    margin: 0;
    padding: 0;
    font-size: calc(var(--h3-font) * var(--scale-fonts));
}

h4 {
    margin: 0;
    padding: 0;
    font-size: calc(var(--h4-font) * var(--scale-fonts));
}

p {
    margin: 0;
    padding: 0;
    font-size: calc(var(--paragrapth) * var(--scale-fonts));
}

.title-larger {
    font-size: calc(var(--title-medium) * var(--scale-fonts));
}

.title-medium {
    font-size: calc(--title-medium * --scale-fonts);
}