@import url("../app/globals.css");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfd;
    color: black;
}

#table-container {
    position: relative;
    width: 50vw;
    height: 500px;
    overflow: scroll;
    border-radius: 10px;
    border: 1px solid var(--gray-color);
}

