@import url("../../app/globals.css");

body {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfd;
    color: black;
}

#logo-container{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 10px;
}


.menu-container{
    position: relative;
    display: block;
    width: 220px;
    height: 100vh;
    padding: 15px 15px;
    background-color: var(--color-primery-blue);
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
    color: grey;
}


.session-title {
    border-bottom: 0.5px solid  var(--gray-color);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 0px;
    color: var(--gray-color);
}


.session-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style-type: none;
}

.menu-item {
    padding: 10px;
    border: 1px solid #000;
}

#logout-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--blue-ascent);
    right: 0;
    bottom: 0;
    border: none;
}

