
.blue-table-scroll{
    overflow: scroll;
    border-radius: 10px;
    border: 1px solid var(--gray-color);}

.blue-table-scroll::-webkit-scrollbar{
    display: none;
    width: 0.2rem;
    height: 0.5rem;
}

.blue-table-scroll:hover::-webkit-scrollbar{
    display: block;
}

.blue-table-scroll:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.blue-table-scroll::-webkit-scrollbar-thumb{
    border-radius: .2rem;
        background-color: var(--blue-table-header);
    visibility: hidden;
}

.blue-table{
    width: 100%;
    border-spacing: 0;
    background-color: var(--blue);
}

table {
    border-spacing: 0;
}

.blue-table th{
    position: sticky;
    background-color: var(--blue-table-header);
    color: var(--blue-ascent);
    text-align: left;
    font-size: 14px;
    padding: 9px;
}


.table-blue-header th {
    position: sticky;
    top: 0;
    left: 0;
}

.name-column{
    text-align: left;
    padding: 14px 9px;
    border-bottom: 1px solid var(--gray-color);
}





tr:nth-child(even) {
    background-color: #f2f2f2
}
